{% trans_default_domain "Calendar" %}

{% include 'Calendar/calendarMenu.html.twig' with {header: 'calendar.calendar_grades.title', name: form.name.vars.value, panelParagraph: 'calendar.calendar_grades.help'} %}
    <div id="gradeCollection"></div>
{% include 'Page/panelEnd.html.twig' %}
{% do form.calendarGrades.setRendered %}