{% trans_default_domain "Calendar" %}

<script type="text/javascript" language="JavaScript">
    $(".calendarGroupList").collection({
        name_prefix: '{{ form.calendarGroups.vars.full_name }}',
        allow_up: true,
        allow_down: true,
        add: '<button title="{{ 'calendar.group.add.title'|trans() }}" type="button" class="halflings halflings-plus-sign btn btn-primary" style="float: right;"></button>',
        remove: '<button title="{{ 'calendar.group.remove.title'|trans() }}" type="button" class="halflings halflings-erase btn btn-warning" style="float: right;"></button>',
        add_at_the_end: true
    });
</script>
