{% trans_default_domain "Calendar" %}

{% block roll_group_label %}{% endblock %}
{% block roll_group_errors %}{% endblock %}

{% block roll_group_widget %}
    {% spaceless %}
        {% set count = '0' %}
        {% if form.nameShort.vars.value is not empty %}
            {% set count = form.vars.value.students.count %}
        {% endif %}
        {% if form.vars.value is empty %}{% set rollTitle = 'calendar.roll_group.add.title'|trans %}{% else %}{% set rollTitle = form.vars.value.fullName %}{% endif %}
        {% set h3Content = '<div class="collection-actions collection-panel">' %}
        {% set h3Content = h3Content ~ saveButton() %}
        {% if form.vars.value is not empty %}
            {% set h3Content = h3Content ~ editButton({title: 'roll_group.manage.label', transDomain: 'Student', windowOpen: {route: path('roll_edit', {id: form.vars.value.id})}}) %}
        {% endif %}
        {% set h3Content = h3Content ~ deleteButton({title: 'calendar.roll_group.remove.title', transDomain: 'Calendar', class: 'halflings halflings-erase btn btn-warning collection-remove collection-action', style: 'float: right;'}) %}
        {% set h3Content = h3Content ~ '</div>' %}
        {% include 'Page/panelStart.html.twig' with {header: rollTitle, panelStyle: 'info', panelParagraph: 'roll_group.students.count', panelParams: {'%{count}': count}, transDomain: 'Calendar'} %}
<div class="container-fluid">
    <div class="row">
        <div class="col-5 card">
            {{ form_row(form.calendar, {'value': app.request.get('id') }) }}
            {{ form_row(form.name) }}
        </div>
        <div class="col-3 card">
            {{ form_row(form.nameShort) }}
        </div>
        <div class="col-4 card">
            {{ form_row(form.grade) }}
        </div>
    </div>
</div>
{% include 'Page/panelEnd.html.twig' %}
    {% endspaceless %}
{% endblock roll_group_widget %}
