{% trans_default_domain "Calendar" %}

<script type="text/javascript" language="JavaScript">
    $(".rollGroupList").collection({
        name_prefix: '{{ form.rollGroups.vars.full_name }}',
        allow_up: false,
        allow_down: false,
        add: '<button title="{{ 'roll_group.add.title'|trans() }}" type="button" class="halflings halflings-plus-sign btn btn-primary" style="float: right;"></button>',
        remove: '<button title="{{ 'roll_group.remove.title'|trans() }}" type="button" class="halflings halflings-erase btn btn-warning" style="float: right;"></button>',
        add_at_the_end: true
    });
</script>
