<script language="JavaScript" type="text/javascript">

    {% for error in form.vars.errors %}
    {% if error.messageTemplate in ['calendar.specialDay.error.delete', 'calendar.specialDay.error.timeEmpty', 'calendar.specialDay.error.timeInvalid'] %}
    $("#specialDayMessage").html('<p class="alert alert-danger alert-dismissable show hide">{{ error.message }}</p>');
    $("#specialDayMessage").fadeIn(1000);
    {% endif %}
    {% endfor %}

    function removeSpecialDay(id, year) {
        if (id > 0) {
            var path = "{{ path('special_day_delete', {'id': '__id__', 'year': '__year__'}) }}";
            path = path.replace('__id__', id);
            path = path.replace('__year__', year);
            window.open(path, '_self');
        }
    }

    $('.alterType').change(function ($e) {
        var id = $(this).prop('id');

        id = id.replace('calendar_specialDays_', '');
        id = id.replace('_type', '');
        var alter = '.alterTime' + id;
        var value = $(this).val();
        if (value == 'alter') {
            $(alter).fadeIn(200);
        } else {
            $(alter).fadeOut(200);
        }
    });

    $(document).ready(function () {
        $('.alterType').each( function() {
            var value = $(this).val();
            var id = $(this).prop('id');

            id = id.replace('calendar_specialDays_', '');
            id = id.replace('_type', '');
            var alter = '.alterTime' + id;
            if (value == 'alter') {
                $(alter).fadeIn(200);
            } else {
                $(alter).fadeOut(200);

            }


        });
    });
</script>