{% trans_default_domain "Calendar" %}

{% include 'Calendar/calendarMenu.html.twig' with {header: 'calendar.specialDay.title', name: form.name.vars.value, panelParagraph: 'calendar.specialDays.help'} %}
	<div id="calendar_specialDays_target"></div>
{% include 'Page/panelEnd.html.twig' %}

{% do form.specialDays.setRendered %}