<script language="JavaScript" type="text/javascript">
    function removeTerm(id) {
        if (id > 0) {
            var path = "{{ path('term_delete', {'id': '__id__'}) }}";
            path = path.replace('__id__', id);
            window.open(path, '_self');
        }
    }


    {% for error in form.vars.errors %}
    {% if error.messageTemplate in ['calendar.term.error.delete', 'calendar.term.error.invalid', 'calendar.term.error.order', 'calendar.term.error.outsideYear', 'calendar.term.error.overlapped'] %}
    $("#termMessage").html('<p class="alert alert-danger alert-dismissable show hide">{{ error.message }}</p>');
    $("#termMessage").fadeIn(1000);
    {% endif %}
    {% endfor %}
</script>