{% trans_default_domain "Person" %}

{% block student_calendar_grade_label %}{% endblock %}
{% block student_calendar_grade_errors %}{% endblock %}

{% block student_calendar_grade_widget %}
    <div class="row">
        <div class="col-5 offset-2 card">
            {{ form_row(form.calendarGrade, {value: transformData(form.calendarGrade)}) }}
        </div>
        <div class="col-3 card">
            {{ form_row(form.status) }}{{ form_row(form.student, {value: app.request.get('id')}) }}
        </div>
        <div class="col-2 card">
            <div class="collection-actions">
                {{ saveButton()|raw }}
            </div>
        </div>
    </div>
{% endblock student_calendar_grade_widget %}