{% trans_default_domain "Person" %}

{% include 'Person/panelHeader.html.twig' with {header: 'student.calendar_grade.title', name: personManager.fullName(personManager.person)} %}
<div class="container-fluid">
    {{ collection_widget(form.calendarGrades, 0, 0) }}
</div>
{% include 'Page/panelEnd.html.twig' %}
{% do form.calendarGrades.setRendered %}

