{% trans_default_domain "Person" %}

{% include 'Page/panelStart.html.twig' with {header: form_label(form.phones)} %}
    <p class="alert alert-warning">{{ 'phone.warning'|trans }}</p>
    {% if phones is defined %}
        <p class="alert alert-info"><strong>{{ 'phone.linked'|trans }}</strong><br/>
            {% for phone in phones %}
                {{ formatPhone(phone)|raw }}<br/>
            {% endfor %}</p>
    {% endif %}
    {{ collection_widget(form.phones, 0, 0) }}
    {% do form.phones.setRendered %}
{% include 'Page/panelEnd.html.twig' %}
