{% trans_default_domain "Person" %}

{% include 'Page/panelStart.html.twig' with {header: form_label(form.phone)} %}
    <p class="alert alert-warning">{{ 'phone.warning'|trans }}</p>
    {% if phones is defined %}
        <p class="alert alert-info"><strong>{{ 'phone.linked'|trans }}</strong><br/>
            {% for phone in phones %}
                {{ formatPhone(phone)|raw }}<br/>
            {% endfor %}</p>
    {% endif %}
    <section id="person_phone_target">{{ collection_widget(form.phone) }}</section>
{% include 'Page/panelEnd.html.twig' %}
{% do form.phone.setRendered %}
