{% trans_default_domain "Timetable" %}

{% extends "Default/template.html.twig" %}

{% block titleContainer %}{% endblock %}
{% block menuContainer %}{% endblock %}

{% block contentContainer %}
    <div id="buildingTimeTable"></div>
{% endblock contentContainer %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}