{% trans_default_domain "Timetable" %}

{% extends "Default/template.html.twig" %}

{% block title %}{{ manager.title|trans }}{% endblock title %}
{% block headerTitle %}{{ manager.title|trans }}{% endblock headerTitle %}
{% block headerLead %}{{ '<span id="tt_Desc">&nbsp;</span>' }}{% endblock headerLead %}

{% block contentContainer %}
    <div id="displayTimeTable">
        <div id="timetableHeader">
        </div>
    </div>
    {% set x = addScript('Timetable/Display/selectDate.html.twig') %}
{% endblock contentContainer %}

