{% trans_default_domain "Timetable" %}
<script type="text/javascript" language="JavaScript">
    $('#displayTimeTable').on('change', '#selectDate', function () {
        var displayDate = $('#selectDate').val();

        displayTimeTable(displayDate);
    });

    function displayTimeTable(displayDate) {

        var path = '{{ path('timetable_refresh_display', {id: app.request.get('id'), displayDate: '__displayDate__'}) }}';
        path = path.replace('__displayDate__', displayDate);

        var htmlString = '<div class="alert alert-default text-center"><h3>{{ 'timetable.loading'|trans() }}</h3><div class="cs-loader"><div class="cs-loader-inner"><label class="far fa-hourglass fa-sm"></label><label class="far fa-hourglass fa-sm"></label><label class="far fa-hourglass fa-sm"></label><label class="far fa-hourglass fa-sm"></label><label class="far fa-hourglass fa-sm"></label><label class="far fa-hourglass fa-sm"></label></div></div></div>';

        $('#timetableHeader').html(htmlString);

        $.ajax({
            url: path,
            type: 'POST',
            success: function (data) {
                $('#displayTimeTable').html(data['content']);
                if ($("#tt_Desc").length > 0) {
                    $("#tt_Desc").html(data['description']);
                }
            }
        });
    }

    $(document).ready(function () {
        var displayDate = '{{ manager.timeTableDisplayDate }}';

        displayTimeTable(displayDate);
    });

</script>
