{% trans_default_domain 'Timetable' %}

{% include 'Page/panelStart.html.twig' with {header: 'timetable.grade.control.title', transDomain: 'Timetable', panelParagraph: 'timetable.grade.control.description', h3Content: '', panelAttr: 'id=timetable_grade_control'} %}
{% set row = 0 %}
{% set control = app.session.get('gradeControl')|default({}) %}
{% for grade in manager.calendarGrades %}
    {% if row == 0 %}
        <div class="row">
    {% endif %}
    <div class="col-4 card">
        <div>
            {{ miscButton({title: 'timetable.grade.view.button', class: 'btn btn-info fas fa-eye', javascript: {function: 'openGradeTimeTable', options: [app.request.get('id'), grade.id]}, transDomain: 'Timetable'})|raw }}
            {% set checked = '0' %}
            {% set button_class = 'btn btn-danger far fa-times-circle' %}
            {% if control[grade.id] is not defined or control[grade.id] %}
                {% set checked = '1' %}
                {% set button_class = 'btn btn-success far fa-check-circle' %}
            {% endif %}
            {{ toggleButton({class: button_class, toggle_swap: 'btn-success fa-check-circle btn-danger fa-times-circle', id: 'grade_' ~ grade.id, name: 'control[' ~ grade.id ~ ']', value: checked, label: 'timetable.grade.control.label'|trans({'%grade%': grade.grade}), callable: 'gradeControl' })|raw }}
        </div>
    </div>
    {% set row = row + 1 %}
    {% if row == 3 %}
        </div>
        {% set row = 0 %}
    {% endif %}

{% endfor %}
{% if row > 0 %}
    </div>
{% endif %}
{% include 'Page/panelEnd.html.twig' %}
