<div class="page-header">
    <h1>Badges</h1>
</div>
<p>
    <a href="#">Inbox <span class="badge badge-pill badge-primary">42</span></a>
</p>
<ul class="nav" role="tablist">
    <li role="presentation" class="active"><a href="#">Home <span class="badge badge-pill badge-default">42</span></a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages <span class="badge badge-pill badge-success">3</span></a></li>
</ul>

