{% trans_default_domain 'Template' %}

<div class="container-fluid">
    <div class="card-footer text-center text-white small">{{ 'footer.details'|trans( {'%version%': get_setting('version'), '%name%': 'Craig Rayner' } )|raw }}</div>
</div>

