{% trans_default_domain 'Template' %}

<div class="card">
    <div class="card-footer footerDetails small">{{ 'footer.details'|trans( {'%version%': get_setting('version'), '%name%': 'Craig Rayner' } )|raw }}</div>
</div>

