<div class="page-header">
    <h1>Navs</h1>
</div>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="nav-item active"><a class="nav-link" href="#">Home</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link" href="#">Profile</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link" href="#">Messages</a></li>
</ul>
<ul class="nav nav-pills" role="tablist">
    <a class="nav-link active" href="#">Home</a>
    <a class="nav-link" href="#">Profile</a>
    <a class="nav-link" href="#">Messages</a>
</ul>

