<div class="page-header">
    <h1>Panels</h1>
</div>
<div class="row">
    <div class="col-4">
        <div class="card bg-default">
            <div class="card-heading">
                <h3 class="card-title">Default</h3>
            </div>
            <div class="card-body">
                Default
            </div>
        </div>
        <div class="card bg-light">
            <div class="card-heading">
                <h3 class="card-title">Light</h3>
            </div>
            <div class="card-body">
                Light
            </div>
        </div>
        <div class="card bg-primary">
            <div class="card-heading">
                <h3 class="card-title">Primary</h3>
            </div>
            <div class="card-body">
                Primary
            </div>
        </div>
    </div><!-- /.col-4 -->
    <div class="col-4">
        <div class="card bg-success">
            <div class="card-heading">
                <h3 class="card-title">Success</h3>
            </div>
            <div class="card-body">
                Success
            </div>
        </div>
        <div class="card bg-dark">
            <div class="card-heading">
                <h3 class="card-title">Dark</h3>
            </div>
            <div class="card-body">
                Dark
            </div>
        </div>
        <div class="card bg-info">
            <div class="card-heading">
                <h3 class="card-title">Info</h3>
            </div>
            <div class="card-body">
                Info
            </div>
        </div>
    </div><!-- /.col-4 -->
    <div class="col-4">
        <div class="card bg-warning">
            <div class="card-heading">
                <h3 class="card-title">Warning</h3>
            </div>
            <div class="card-body">
                Warning
            </div>
        </div>
        <div class="card bg-secondary">
            <div class="card-heading">
                <h3 class="card-title">Secondary</h3>
            </div>
            <div class="card-body">
                Secondary
            </div>
        </div>
        <div class="card bg-danger">
            <div class="card-heading">
                <h3 class="card-title">Danger</h3>
            </div>
            <div class="card-body">
                Danger
            </div>
        </div>
    </div><!-- /.col-4 -->
</div>

