{% trans_default_domain 'System' %}

{% form_theme form
    '@HillrangeForm/FormTheme/bootstrap.html.twig'
%}

{{ form_start(form, {attr: {class: 'form-inline'}}) }}

<div class="row">
    <div class="col-auto">
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                {{ uploadButton({class: 'btn btn-info fas fa-cloud-upload-alt', style: ''})|raw }}
            </div>
            {{ form_widget(form.import_file) }}
        </div>
    </div>
</div>

{{ form_end(form) }}