{% trans_default_domain "School" %}

{% block house_label %}{% endblock %}
{% block house_errors %}{% endblock %}

{% block house_widget %}
    {% spaceless %}
        {% set h3Content = '<div class="collection-actions">' %}
        {% set h3Content = h3Content ~ saveButton()|raw %}
        {% set h3Content = h3Content ~ '</div>' %}
        {% include 'Page/panelStart.html.twig' with {header: 'school.house.name.title', name: form.name.vars.value, panelStyle: 'default', transDomain: 'School'} %}
        <div class="row">
            <div class="col-4 card">{{ form_row(form.name) }}</div>
            <div class="col-3 card">{{ form_row(form.shortName) }}</div>
            <div class="col-5 card">{{ form_row(form.logo) }}</div>
        </div>
        {% include 'Page/panelEnd.html.twig' %}
    {% endspaceless %}
{% endblock house_widget %}
