<script>
    function manageCollection(path, contentTarget, element) {
        if (element !== '') {
            var source = $(element[0]).find('.removeElement');

            if (source.is('select')) {
                var cid = source.val();
            } else {
                var cid = source.attr('value');
            }

            if (typeof cid === 'undefined' || (!cid)) {
                cid = 'ignore';
            }

            path = path.replace('__cid__', cid);
        }
        $.ajax({
            url: path,
            type: "POST",
            success: function (data) {
                $('#' + contentTarget).html(data.content);
                mergeCollectionMessage(data.message);
            },
            error: function (req, status, err) {
                var message = '<div class="alert alert-__level__ alert-dismissable show hide">__message__<button title="{{ 'Close Message'|trans }}" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="far fa-times-circle"></span></button></div>';
                message = message.replace('__level__', 'danger');
                message = message.replace('__message__', err);
                mergeCollectionMessage(message);
            }
        });
    }

    function mergeCollectionMessage(message) {
        if (! message) {
            return ;
        }

        message = $.trim(message);

        if (! message) {
            return;
        }

        var exists = $("#collectionMessage").html();
        $("#collectionMessage").html(exists + message);
        $("#collectionMessage").fadeIn(100);
    }

    $(document).ready(function () {
        {{ calls|raw }}
    });

    $("form button[type=submit]").click(function () {
        $("button[type=submit]", $(this).parents("form")).removeAttr("clicked");
        $(this).attr("clicked", "true");
    });

    $("form button[type=reset]").click(function () {
        {{ calls|raw }}
    })
</script>