{% trans_default_domain 'School' %}

{% set h3Content = '' %}
    {% set h3Content = h3Content ~ resetButton({type: 'button', javascript: {function: 'resetForm', options: []}})|raw %}
    {% set h3Content = h3Content ~ saveButton()|raw %}
{% include 'Page/panelStart.html.twig' with {header: 'department.edit.title', transDomain: 'School', panelParagraph: '', panelStyle: 'success', panelStyle: 'info'} %}
<div class="container-fluid">
    {% if form.members is defined %}
        <div class="memberCollection"></div>
        {% do form.members.setRendered %}
    {% endif %}
</div>
{% include 'Page/panelEnd.html.twig' %}