{% trans_default_domain 'School' %}

{% set h3Content = '' %}
    {% set h3Content = h3Content ~ resetButton()|raw %}
    {% set h3Content = h3Content ~ saveButton()|raw %}
{% include 'Page/panelStart.html.twig' with {header: 'department.edit.title', transDomain: 'School', panelParagraph: '', panelStyle: 'success', panelStyle: 'info'} %}
<div class="container-fluid">
    <div class="row row-header">
        <div class="col-5 card">
            {{ 'department.members.member.label'|trans }}
        </div>
        <div class="col-4 card">
            {{ 'department.members.type.label'|trans }}
        </div>
        <div class="col-3 card">
            {{ 'actions'|trans({}, 'home') }}
        </div>
    </div>
    <div id="department_members_target"></div>
    {% if form.members is defined %}
        {% do form.members.setRendered %}
    {% endif %}
</div>
{% include 'Page/panelEnd.html.twig' %}