{% trans_default_domain "Timetable" %}

{% block activities_label %}{% endblock %}
{% block activities_errors %}{% endblock %}

{% block activities_widget %}
    {% spaceless %}
        {% set panelStyle = 'default' %}
        {% set transDomain = 'Timetable' %}
        {% set header = 'activity.title.header' %}

        {% set h3Content = '<div class="collection-actions">' %}
        {% set h3Content = h3Content ~ deleteButton({'title': 'activity.title.remove', 'transDomain': 'Timetable', 'class': 'halflings halflings-erase btn btn-warning collection-remove collection-action', 'style': 'float: right;'})|raw %}
        {% if name != '__name__' %}
            {% set h3Content = h3Content ~ editButton({'windowOpen': {'route': path('activity_edit', {'id': form.vars.data.getId(), closeWindow: '_closeWindow'}), target: 'Activity', params: 'width=1200,height=900'}}) %}
        {% endif %}
        {% set h3Content = h3Content ~ saveButton()|raw %}
        {% set h3Content = h3Content ~ '<span style="float: right;">&nbsp;</span>' %}
        {% set h3Content = h3Content ~ upDownButton()|raw %}
        {% set h3Content = h3Content ~ '</div>' %}
        {% set title = 'activity.title.new'|trans %}
        {% if form.vars.data is not empty %}{% set title = form.vars.data.name ~ ' (' ~ form.vars.data.getStudentCount() ~ ')' %}{% endif %}
        {% include 'Page/panelStart.html.twig' with {'name': title} %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form) }}
                </div>
            </div>
        </div>
        {% include 'Page/panelEnd.html.twig' %}
    {% endspaceless %}
{% endblock activities_widget %}