{# src/Busybee/StaffBundle/Resources/views/Person/staff.html.twig #}

{% trans_default_domain "BusybeeStaffBundle" %}

<div class="panel panel-primary busybee-panel">
    {% include "Person/panelHeader.html.twig"  with {header: 'person.staff.title'} %}
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 card">
                    {{ form_row(form.staffType) }}
                </div>
                <div class="col-6 card">
                    {{ form_row(form.jobTitle) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6 card">
                    {{ form_row(form.house) }}
                </div>
                <div class="col-6 card">
                    {#{{ form_row(form.staff.homeroom) }}#}
                </div>
            </div>
        </div>
    </div>
</div>