{# src/Busybee/PersonBundle/Resources/views/Person/user.html.twig #}

{% trans_default_domain "Person" %}

<div class="panel panel-primary busybee-panel">
    {% include "Person/panelHeader.html.twig"  with {'header': 'person.user.title'} %}
    <div class="panel-body">
        {% include '@BusybeeSecurity/User/userContent.html.twig' with {form: form.user, header: false} %}
    </div>
</div>

{% do form.user.setRendered() %}