{% trans_default_domain "Timetable" %}


<ul class="nav nav-tabs" role="tablist">
    {% for name,col in form.columns %}
        <li role="presentation">
            <a href="#{{ col.nameShort.vars.value }}" role="tab" data-toggle="tab">{{ col.name.vars.value }}</a>
        </li>
        {% do col.setRendered %}
    {% endfor %}
</ul>
{% include 'Timetable/Column/column.html.twig' %}
