<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}<h1>Just Here</h1>{% endblock %}
        {% block javascripts %}{% endblock %}
    <p>This is a fake base.</p>
    </body>
</html>
