{# src/Busybee/HomeBundle/Resources/views/Menu/main-menu.html.twig #}

{% trans_default_domain "home" %}
{% set bad_routes = [get_parameter('security.routes.security_user_login'), get_parameter('security.routes.securty_forced_password_change')] %}
{% if app.request.get('_route') not in bad_routes %}
<section class="hideSection">
    <div class="container theme-showcase bg-dark fixed-top" role="menu">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ 'Toggle navigation'|trans }}">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ path('home') }}">{% block projectname %}{{ get_setting('org.name.short', 'BEE') }}{% endblock projectname %}</a>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                {% block dynamicMenu %}
                    <ul class="navbar-nav">
                        {% include "Menu/site-menu.html.twig" %}
                    </ul>
                {% endblock dynamicMenu %}
                {% block signInForm %}
                    {% include 'Menu/sign-in-form.html.twig' %}
                {% endblock signInForm %}

            </div>
        </nav>
    </div>
</section>
{% endif %}
