{% trans_default_domain 'School' %}

{% include 'Page/panelStart.html.twig' with {header: 'activity.external.tutors.tab', panelParagraph: 'school.external_activity.manage.title', panelParams: {'%name%': form.vars.value.fullName}, transDomain: 'School'} %}
<div class="row">
    <div class="col-12 card">
        <div class="row row-header text-center">
            <div class="col-5">
                {{ 'activity_tutor.tutor.label'|trans }}
            </div>
            <div class="col-3">
                {{ 'activity_tutor.role.label'|trans }}
            </div>
            <div class="col-4">
                {{ 'actions'|trans({}, 'home') }}
            </div>
        </div>
        <div id="tutorCollection"></div>
        {%  do form.tutors.setRendered() %}
    </div>
</div>
{% include 'Page/panelEnd.html.twig' %}
