{% trans_default_domain "Timetable" %}

{% block line_course_label %}{% endblock %}
{% block line_course_errors %}{% endblock %}

{% block line_course_widget %}
    {% spaceless %}
        {% set panelStyle = 'default' %}
        {% set transDomain = 'Timetable' %}
        {% set header = 'courses.title.header' %}
        {% set h3Content = '<div class="collection-actions">' %}
        {% set h3Content = h3Content ~ saveButton()|raw %}
        {% set h3Content = h3Content ~ editButton({windowOpen: {route: path('course_edit', {id: getValueData(form)|default('Add')})}})|raw %}
        {% set h3Content = h3Content ~ '</div>' %}
        <div class="row">
            <div class="col-8 card">
                {{ form_widget(form, {value: transformData(form)}) }}
            </div>
            <div class="col-4 card">
                {{ h3Content|raw }}
            </div>
        </div>
    {% endspaceless %}
{% endblock line_course_widget %}